<!DOCTYPE html>
<html>
    <head>
        <title>Metro station</title>
    </head>
    <body>
        <h1>Metro station</h1>
        <img src="/static/images/Chennai_Metro.jpg" width="1080" height="720">
        <h2>Koyambedu Metro station is a Metro railway station on the Line 2 of the Chennai Metro, which is one terminal of the current open metro line from St Thomas Mount. The station is among the elevated stations along corridor II of the Chennai Metro, Chennai Central–St. Thomas Mount stretch. The station will serve the neighbourhoods of Koyambedu, Koyambedu vegetable market, and Koyambedu Private Bus Terminus. 
        </h2>
    </body>
</html>