<!DOCTYPE html>
<html>
    <head>
        <title>Koyambedu vegetable market</title>
    </head>
    <body>
        <h1> Koyambedu vegetable market</h1>
        <img src="/static/images/veg market.jpg" width="1080" height="720">
        <h2>Koyambedu Wholesale Market Complex (KWMC) is one of Asia's largest perishable goods market complex located at Koyambedu, Chennai. The market complex is spread over an area of 295 acres (1.19 km2). Inaugurated in 1996, the complex consists of about 3,100 shops,[1] including more than 1,000 wholesale shops and 2,000 retail shops. Of these, 850 are fruit shops.[2] It abuts the Poonamallee High Road and Nesapakkam Road. In Phase I, a wholesale market for perishables was developed in an area of around 70 acres (280,000 m2) by constructing 3,194 shops. The market has two blocks for vegetable shops and one each for fruit and flower shops. In Phase II, a textile market[3] and in Phase III, a food grain market[4] have been planned to be developed in the complex.

The food grain market will be built on a seven to eight acres of land belonging to the Chennai Metropolitan Development Authority, adjacent to the Koyambedu fire service station and opposite the vegetable market, and will have about 500 shops.[5]

The market operates round the clock, with the wholesale market operating between 10 p.m. and 10 a.m. and the retail market operating between 10 a.m. and 10 p.m. The market receives about 100,000 visitors and 500 to 600 vehicles every day.[1] </h2>
    </body>
</html>